.slider {
    position: relative;
    overflow: hidden;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;

    /* width: 400px; */
    width: 80%;
    height: 250px;

    margin: auto;
    margin-bottom: 30px;

}

.slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    width: 100%;
    overflow: hidden;
    left: 0;
}

.slider ul li {
    position: absolute;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    /* width: 500px; */
    /* width: auto; */
    /* height: 300px; */

    width: 100%;
    height: max-content;

    background: white;
    /* text-align: center; */
    transition: ease-out 0.4s;
    /* color: #fff; */
    font-size: 22px;
    /* font-family: monospace; */
    display: flex;
}

.slider ul li span {
    margin: auto
}

.slider ul li img{
  width: 100%;
}  

/* .slider ul li.active {
    left: 0;
}

.slider ul li.slider2 {
    background: #4ABDAC
}

.slider ul li.slider3 {
    background: #B82601
}

.slider ul li.slider4 {
    background: #8FC33A;
}

.slider ul li.slider5 {
    background: #F7882F;
}

.slider ul li.slider6 {
    background: #43C0F6
}

.slider ul li.slider7 {
    background: #F81B84;
} */

/*controls*/
.controls {
    -webkit-transition: all 0.5s ease;
    opacity: 0;
}

.control_prev,
.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 20px;
    width: auto;
    height: auto;
    background: rgba(51, 51, 51, 0.80);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0;
    cursor: pointer;
}

.slider:hover .controls {
    -webkit-transition: all 0.5s ease;
    opacity: 1;
}

.slider:hover .controls .control_prev,
.slider:hover .controls .control_next {
    opacity: 0.8
}

.control_prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.control_next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.slider:hover .controls .control_prev:hover,
.slider:hover .controls .control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}









@media screen and (max-width: 800px) {
    .slider {
        position: relative;
        overflow: hidden;
        margin: 0;
        border-radius: 4px;
        overflow: hidden;
    
        /* width: 400px; */
        width: 90%!important;
        height: 155px;
    
        margin: auto;
        margin-bottom: 30px;
    
    }
}